
.gallery-showcase-block {
    width: 100%;
    height: auto;
    margin-bottom: 1px;
}
.gallery-showcase-block img {
    width: 100%;
}
.point {
    display: none;
    font-family: 'icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    float: right;
    right: 0px;
    width: 28px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #d1d3d4;
    background: #fff;
    color: #3a5ee1;
}
.point::before {
    content: "";
}
.gallery-container img {
    width: 100%;
    display: none;
    margin-top: 0px;
    padding: 30px 5px;
}
.gallery-showcase-li {
    margin-bottom: 30px;
}
.point:hover {
    cursor: pointer;
}

.gallery-header {
    position: static;
    margin: 0 0 1px 0;
    min-height: 50px;
    padding: 13px 30px;
    background: #3b3b53;
    color: #fff;
    font-size: 19px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-transform: none
}
.gallery-container {
    background: #3b3b53;
}

.gallery-header .ico {
    font-family: 'icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    float: left;
    top: -10px;
    left: -105px;
    width: 48px;
    height: 48px;

    line-height: 46px;
    text-align: center;
    font-size: 26px;
    border: 2px solid #d1d3d4;
    background: #fff;
    color: #3a5ee1;
}
.gallery-header .ico:after {
    content: "";
    height: 1px;
    width: 20px;
    border-bottom: 2px solid #fff;
    position: absolute;
    left: 49px;
    top: 22px;
}
.slider-images #close{
    color: white;
    position: absolute;
    top: 50px;
    right: -10px;
    font-size: 21px;
    width: 50px;
    padding: 0px 0px 0px 10px;
}
.slider-images #close:hover {
    cursor: pointer;
}
.slider-images #prev {
    background: url(/css/images/slider-left.jpg);
    top: 45%;
    left: 10px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: absolute;
    border-radius: 35px;
}
.slider-images #prev:hover, .slider-images #next:hover {
    cursor: pointer;
}
.slider-images #next {
    background: url(/css/images/slider-right.jpg);
    top: 45%;
    right: 10px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: absolute;
    /* color: white; */
    border-radius: 35px;
}
.slider-images {
    display: none;
    position: fixed;
    width: 100%;
    background: rgb(42,41,55);
    z-index: 100000;
    top: 0px;
    left: 0px;
}
.slider-images .slider-container {
    padding: 50px;
    height: 100%;
}
.slider-images .slider-container img{
    position: absolute;
    top: 56px;
    opacity: 0;
}
@media (max-width: 1023px){
    .slider-images .slider-container img {

    }
}
@media (max-width: 1366px){
    .gallery-header {
        margin: 0 0px 1px 80px;
    }
}

.gallery-header .ico::before {
    content: "";
}
.points-moscow #point_1 {
    position: relative;
    top: -350px;
    left: -860px;
}
.points-moscow #point_2 {
    position: relative;
    top: -240px;
    left: -720px;
}
.points-moscow #point_3 {
    position: relative;
    top: -280px;
    left: -610px;
}
.points-moscow #point_4 {
    position: relative;
    top: -350px;
    left: -480px;
}
.points-moscow #point_5 {
    position: relative;
    top: -280px;
    left: -360px;
}
.points-moscow #point_6  {
    position: relative;
    top: -150px;
    left: -330px;
}
.points-moscow #point_7 {
    position: relative;
    top: -280px;
    left: -230px;
}
.points-moscow #point_8 {
    position: relative;
    top: -350px;
    left: -100px;
}
.points-moscow #point_9 {
    position: relative;
    top: -150px;
    left: -20px;
}
.points-moscow #point_10 {
    position: relative;
    top: -280px;
    left: 200px;
}
.points-moscow #point_11 {
    position: relative;
    top: -50px;
    left: 230px;
}
.points-moscow #point_12 {
    position: relative;
    top: -120px;
    left: -510px;
}
.points-almati #point_13 {
    position: relative;
    top: -310px;
    left: -595px;
}
.points-almati #point_14 {
    position: relative;
    top: -380px;
    left: -345px;
}
.points-almati #point_15 {
    position: relative;
    top: -240px;
    left: -315px;
}
.points-almati #point_16 {
    position: relative;
    top: -110px;
    left: -285px;
}